demo-lab-abnarain/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "demo-lab-abnarain"
		},
		"AzureDatabricks_LS_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks_LS'"
		},
		"hdiOnDemand_ls_clusterPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterPassword' of 'hdiOnDemand_ls'"
		},
		"hdiOnDemand_ls_clusterSshPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterSshPassword' of 'hdiOnDemand_ls'"
		},
		"hdiOnDemand_ls_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'hdiOnDemand_ls'"
		},
		"hdiOnDemand_storage_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hdiOnDemand_storage_ls'"
		},
		"sinkBlob_LS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sinkBlob_LS'"
		},
		"linkedService_hdinsightBYOC_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedService_hdinsightBYOC'"
		},
		"sinkRawFiles_Dataset_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"sinkRawFiles_Dataset_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "sinkdata/staged_sink"
		},
		"sourceAvailability_Dataset_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "_success"
		},
		"sourceAvailability_Dataset_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "data/source"
		},
		"sourceFiles_Dataset_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "Product.csv"
		},
		"sourceFiles_Dataset_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "data/source"
		},
		"hdiOnDemand_ls_properties_typeProperties_hostSubscriptionId": {
			"type": "string",
			"defaultValue": "7b68d2b5-dfbe-46e1-938f-98ed143b7953"
		},
		"hdiOnDemand_ls_properties_typeProperties_clusterResourceGroup": {
			"type": "string",
			"defaultValue": "hdi-ondemand-rg"
		},
		"hdiOnDemand_ls_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "9f2d5c32-a9ff-4d84-a60e-a585b275ee0f"
		},
		"hdiOnDemand_ls_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
		},
		"linkedService_hdinsightBYOC_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ETL with Azure Databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Run a simple ETL job using Azure Databricks, with a single pane of glass monitoring from ADF.\n\nIn the template, we check for source dataset availability. Once it is available we copy it into a blob storage for staging using a Copy activity. The same storage is accessed from Databricks clusters while processing the data (ETL). The output is stored in the same storage under 'output' folder. Various notebook properties are referenced as expressions using pipeline parameters, which lets you configure more generic and reusable pipelines. \n \nFor steps on setting up storage and databricks notebook refer https://aka.ms/databricks-instructions. ",
				"activities": [
					{
						"name": "Availability flag",
						"description": "Lookup (or Get Metadata) activity is used to get information about the source files if they are available for processing. \nIn this template, only when the '_success' flag/ file is available at source, would the downstream activities be triggered. ",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"dataset": {
								"referenceName": "sourceAvailability_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "file-to-blob",
						"description": "Copy activity copies the actual files/ dataset to be processed by Databricks into a staging store. This storage should be accessible by the Azure Databricks cluster referenced in the next activity. ",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Availability flag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "sourceFiles_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sinkRawFiles_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ETL",
						"description": "Databricks Notebook activity does the processing of the data copied in the previous step (copy activity).  Please ensure you have added the databricks notebook (https://adflabstaging1.blob.core.windows.net/share/Transformations.html) in the databricks work-space and referenced it in the notebook activity in ADF.",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "file-to-blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Transformations",
							"baseParameters": {
								"input": {
									"value": "@pipeline().parameters.inputPath",
									"type": "Expression"
								},
								"output": {
									"value": "@pipeline().parameters.outputPath",
									"type": "Expression"
								},
								"filename": {
									"value": "@pipeline().parameters.fileName",
									"type": "Expression"
								},
								"pipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_LS",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"inputPath": {
						"type": "String",
						"defaultValue": "/staged_sink"
					},
					"outputPath": {
						"type": "String",
						"defaultValue": "/processed_sink"
					},
					"fileName": {
						"type": "String",
						"defaultValue": "Product.csv"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sourceAvailability_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/sourceFiles_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/sinkRawFiles_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Process data using on-demand HDInsight')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "processData",
						"type": "HDInsightSpark",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "adftutorial/spark/script",
							"entryFilePath": "WordCount_Spark.py",
							"arguments": [
								"@pipeline().RunId"
							],
							"getDebugInfo": "Always",
							"sparkConfig": {
								"runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"sparkJobLinkedService": {
								"referenceName": "hdiOnDemand_storage_ls",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "hdiOnDemand_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hdiOnDemand_storage_ls')]",
				"[concat(variables('factoryId'), '/linkedServices/hdiOnDemand_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sinkRawFiles_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset representing files that are copied into the sink/ destination storage. ",
				"linkedServiceName": {
					"referenceName": "sinkBlob_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('sinkRawFiles_Dataset_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('sinkRawFiles_Dataset_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sinkBlob_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourceAvailability_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset to check if '_success' flag/ file is available in source. If not, then the activity fails, letting you know that source dataset is not ready.\n\nAction: Please create dsdsdsdsdsdfsdfsdf\n\nContext: In Spark/ Hadoop environments, generally users leverage flags to identify if the data has been correctly written through the distributed compute engines. E.g. '_success' defines all nodes have successfully written the data.",
				"linkedServiceName": {
					"referenceName": "sourceBlob_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('sourceAvailability_Dataset_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('sourceAvailability_Dataset_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sourceBlob_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourceFiles_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset pointing to the actual data files in source.",
				"linkedServiceName": {
					"referenceName": "sourceBlob_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('sourceFiles_Dataset_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('sourceFiles_Dataset_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sourceBlob_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to connect  the Azure Databricks workspace. Please modify the properties as required.  ",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://eastus.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_LS_accessToken')]"
					},
					"existingClusterId": "0320-025440-yes123"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hdiOnDemand_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "spark",
					"clusterSize": 1,
					"timeToLive": "00:05:00",
					"version": "3.6",
					"hostSubscriptionId": "[parameters('hdiOnDemand_ls_properties_typeProperties_hostSubscriptionId')]",
					"clusterResourceGroup": "[parameters('hdiOnDemand_ls_properties_typeProperties_clusterResourceGroup')]",
					"servicePrincipalId": "[parameters('hdiOnDemand_ls_properties_typeProperties_servicePrincipalId')]",
					"tenant": "[parameters('hdiOnDemand_ls_properties_typeProperties_tenant')]",
					"clusterNamePrefix": "ondemand-cluster",
					"clusterPassword": {
						"type": "SecureString",
						"value": "[parameters('hdiOnDemand_ls_clusterPassword')]"
					},
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "[parameters('hdiOnDemand_ls_clusterSshPassword')]"
					},
					"sparkVersion": "",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('hdiOnDemand_ls_servicePrincipalKey')]"
					},
					"additionalLinkedServiceNames": [
						{
							"referenceName": "hdiOnDemand_storage_ls",
							"type": "LinkedServiceReference"
						}
					],
					"linkedServiceName": {
						"referenceName": "hdiOnDemand_storage_ls",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hdiOnDemand_storage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hdiOnDemand_storage_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('hdiOnDemand_storage_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sinkBlob_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('sinkBlob_LS_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourceBlob_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Source Azure Blob storage account where the source files are.  ",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "**********?**********"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Spark1",
						"type": "HDInsightSpark",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "adftutorial/spark/script",
							"entryFilePath": "WordCount_Spark.py",
							"arguments": [
								"@pipeline().RunId"
							],
							"sparkJobLinkedService": {
								"referenceName": "hdiOnDemand_storage_ls",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "linkedService_hdinsightBYOC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedService_hdinsightBYOC')]",
				"[concat(variables('factoryId'), '/linkedServices/hdiOnDemand_storage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService_hdinsightBYOC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://abnarain-byoc.azurehdinsight.net",
					"userName": "[parameters('linkedService_hdinsightBYOC_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedService_hdinsightBYOC_password')]"
					},
					"isEspEnabled": false,
					"linkedServiceName": {
						"referenceName": "hdiOnDemand_storage_ls",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hdiOnDemand_storage_ls')]"
			]
		}
	]
}