demo-lab-abnarain/PartialArmTemplates/ArmTemplate_1_31_2019_14_47_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "demo-lab-abnarain"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyData_from_Amazon_S3_to_AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy data from Amazon S3 to Azure Data Lake Storage.\n\nYou can also go to \"Copy Data Tool\" to get the pipeline for more connectors and scenarios.",
				"activities": [
					{
						"name": "AmazonS3_to_Azure",
						"description": "Copy data from Amazon S3 to Azure Data Lake Storage.",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "DataSourceStore1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DataDestinationStore1",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DataSourceStore1')]",
				"[concat(variables('factoryId'), '/datasets/DataDestinationStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataDestinationStore1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your Azure Data Lake Store.",
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2_ls",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"folderPath": "adflab"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataSourceStore1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection your Amazon S3 store.",
				"linkedServiceName": {
					"referenceName": "AmazonS31",
					"type": "LinkedServiceReference"
				},
				"type": "AmazonS3Object",
				"typeProperties": {
					"bucketName": "adflab"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Chaining outputs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"typeProperties": {
							"expression": {
								"value": "@variables('val')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get ID",
									"type": "WebActivity",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"url": {
											"value": "@concat('https://reqres.in/api/users/',variables('count'))",
											"type": "Expression"
										},
										"method": "GET"
									}
								},
								{
									"name": "Get Item using ID",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Get ID",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"url": {
											"value": "@concat('https://reqres.in/api/users/',string(add(activity('Get ID').output.data.id,1)))",
											"type": "Expression"
										},
										"method": "GET"
									}
								},
								{
									"name": "increment",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get Item using ID",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"typeProperties": {
										"variableName": "count",
										"value": {
											"value": "@string(add(activity('Get ID').output.data.id,1))",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"variables": {
					"val": {
						"type": "Boolean",
						"defaultValue": false
					},
					"count": {
						"type": "String",
						"defaultValue": "2"
					}
				}
			}
		}
	]
}